<div class="row">
  <div class="col-md-6 mx-auto">
      <div class="card-header">
          <h3 class="mb-0">INSCRIPTION D'UN ANNONCEUR</h3>
      </div>

      <div class="card-body">
          <form class="form">
            <div class="col s8 offst-2">
              <div class="card-panel teal lighten-2">
                  <h4 class="center white-text">
                      imageFile
                  </h4>
              </div>
              <div class="input-field col s12">
                  <img [src]="imageUrl" style="width:250px ; height:200px">
                  <input type="file" #ImageFile accept="image/*" (change)="handleFileInput($event.target.files)">
              </div>
          </div>

              <div class="form-group">
                  <label for="">Nom de l'entreprise</label>
                  <input [(ngModel)]="userData.nomentrep" name="nomentrep" type="text" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                  <label for="">Secteur d'activité</label>
                  <input [(ngModel)]="userData.secteuractivite" type="text" name="secteuractivite" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                  <label for="">Description de l'entreprise</label>
                  <input [(ngModel)]="userData.descriptionentrep" type="text" name="descriptionentrep" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                  <label for="">Usename</label>
                  <input [(ngModel)]="userData.username" name="username" type="email" class="form-control rounded-0" required>
              </div>
              
              <div class="form-group">
                  <label for="">Entrer le mot de Passe</label>
                  <input [(ngModel)]="userData.password" name="password" type="text" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                <label for="">Confirmer le Mot de Passe</label>
                <input [(ngModel)]="userData.confirmepassword" name="confirmepassword" type="text" class="form-control rounded-0" required>
            </div>

              <div class="form-group">
                <label for="">Site internet</label>
                <input [(ngModel)]="userData.siteinternet" name="siteinternet" type="text" class="form-control rounded-0" required>
            </div>

            <div class="form-group">
              <label for="">Telephone</label>
              <input [(ngModel)]="userData.telephone" name="telephone" type="number" class="form-control rounded-0" required>
          </div>

          <div class="form-group">
            <label for="">Telephone1</label>
            <input [(ngModel)]="userData.telephone1" name="telephone1" type="number" class="form-control rounded-0" required>
        </div>

              <button (click)="user()" type="button" class="btn btn-primary float-right">S'INSCRIRE</button>
          </form>

      </div>

  </div>

</div>
