<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>Connexion</ion-title>
</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" padding>
<ion-buttons slot="start">
<ion-menu-button></ion-menu-button>
</ion-buttons>
  <form #form="ngForm" (ngSubmit)="loginUser(form)">
      <ion-grid>
          <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div text-center>
                      <h3>Login</h3>
                  </div>
                  <div padding>
                      <ion-item>
                          <ion-input name="username" type="text" placeholder="username" [(ngModel)]="loginUserData.username" required></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="loginUserData.password" required></ion-input>
                      </ion-item>
                  </div>
                  <div padding>
                      <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Connexion</ion-button>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </form>
</ion-content>
