<div class="row">
  <div class="col-md-6 mx-auto">
      <div class="card-header">
          <h3 class="mb-0">INSCRIPTION D'UN CANDIDAT</h3>
      </div>

      <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="">Prenom</label>
              <input [(ngModel)]="userData.prenom" type="text" name="prenom" class="form-control rounded-0" required>
          </div>

              <div class="form-group">
                  <label for="">Nom</label>
                  <input [(ngModel)]="userData.nom" name="nom" type="text" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                <label for="">Adresse</label>
                <input [(ngModel)]="userData.adresse" type="text" name="adresse" class="form-control rounded-0" required>
            </div>

              <div class="col s8 offst-2">
                  <div class="card-panel teal lighten-2">
                      <h4 class="center white-text">
                          Photo Profile
                      </h4>
                  </div>
                  <div class="input-field col s12">
                      <img [src]="imageUrl" style="width:250px ; height:200px">
                      <input type="file" #ImageFile accept="image/*" (change)="handleFileInput($event.target.files)">
                  </div>
              </div>

              <div class="form-group">
                  <label for="">Email</label>
                  <input [(ngModel)]="userData.username" name="username" type="email" class="form-control rounded-0" required>
              </div>
              
              <div class="form-group">
                  <label for="">Mot de passe</label>
                  <input [(ngModel)]="userData.password" name="password" type="password" class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                <label for="">Confirmer le mot de passe</label>
                <input [(ngModel)]="userData.confirmepassword" name="confirmepassword" type="password" class="form-control rounded-0" required>
            </div>

              <div class="form-group">
                <label for="">Télèphone</label>
                <input [(ngModel)]="userData.telephone" type="number" name="telephone" class="form-control rounded-0" required>
            </div>

              <button (click)="user()" type="button" class="btn btn-primary float-right">ENREGISTRER</button>
          </form>

      </div>

  </div>

</div>